<div class="container-fluid bg-1 text-center">
  <h3 class="margin">Who Am I?</h3>
  <img src="https://media-exp1.licdn.com/dms/image/C4D03AQGwKPei9F7__Q/profile-displayphoto-shrink_800_800/0/1602147849378?e=1622678400&v=beta&t=HTFicOmjUy9sQD-quCSrfVmDHzcdqtT9-fFtXPojAA0" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="350" height="350">
  <h3>I'm Programmer</h3>
</div>
<div class="container-fluid bg-2 text-center">
  <h3 class="margin">What Am I?</h3>
  <p>
    Experienced Full Stack Engineer with a demonstrated history of working in the information technology and services industry.
    Skilled in Analytical Skills, C++, Communication, Core Java, and English.
    Strong engineering professional with a Bachelor's degree focused in Informatics from Caucasus University
  </p>
</div>
