.full-main-header{
  border-top: 1px solid #b1b1b1;
  border-bottom: 1px solid #b1b1b1;
  margin-bottom: 10px;
  background-color: #ececec;
  font-family: Verdana, sans-serif;

}
.main-content{
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 1140px;
  height: 150px;
  margin: auto;
}
.top-header{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  div{
    margin: 7px;
    text-align: center;
    color: black;
    p{
      margin-left: 130px;
    }
  }
}
.social{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  div{
    margin: 0 0 0 20px;
    img{
      height: 22px;
      width: 22px;
      border-radius: 4px;
    }
  }
}
.bottom-header{
  display: flex;
  align-items: center;
  flex-direction: row;
  div{
    margin-left: 10px;
    img{
      position: relative;
      top: -40px;
      height: 120px;
      width: 120px;
      outline: none;
    }
  }
}
